/* import link for the philosopher font from google font */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
p {
    line-height: 1.5rem;
}
body {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* 
------------------styling for the page title section----------------- 
*/

.page-title-section > .page-title {
    height: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
}
.page-title-section > .page-title > * {
    z-index: 4;
}
.page-title-section > .page-title > h2 {
    font-size: 3vw;
}
.page-title-section > .page-title::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url(./assets/images/services/orthopedic/title-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.page-title-section > .page-title::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(7, 20, 59, .45);
} 
.page-title-section > .page-title > h2 {
    color: white;
}
.page-title-section > .page-title > .page-title-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
.page-title-section > .page-title > .page-title-nav > a {
    color: white;
}
.page-title-section > .page-title > .page-title-nav > span {
    color: white;
}


@media (min-width: 320px) and (max-width: 500px) {
    .page-title-section > .page-title {
        width: 100%;
        height: 300px;
    }
    .page-title-section > .page-title > h2 {
        font-size: 8vw;
    }
}
@media (min-width: 500px) and (max-width: 700px) {
    .page-title-section > .page-title {
        width: 100%;
        height: 350px;
    }
    .page-title-section > .page-title > h2 {
        font-size: 6vw;
    }
}
@media (min-width: 701px) and (max-width: 900px) {
    .page-title-section > .page-title > h2 {
        font-size: 5vw;
    }
}


/* 
-------------------styling for the page about us section------------------
*/

.page-about-us-section {
    padding: 50px 5vw;
}
.page-about-us-section > .page-about-image-and-info {
    display: flex;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-image {
    display: flex;
    justify-content: center;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-image > .page-about-us-img {
    height: 400px;
    width: 600px;
    background-image: url(./assets/images/about-us/about-section/hero.png);
    background-size: 100% 100%;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-image {
    width: 50%;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > h4 {
    color: #1b99fe;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > h2 {
    color: #06268b;
    font-size: 3vw;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > p {
    color: gray;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-cards > .page-about-us-info-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-cards > .page-about-us-info-card > li {
    display: flex;
    align-items: center;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-cards > .page-about-us-info-card > li > span {
    color: #1b99fe;
    font-size: 20px;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-cards > .page-about-us-info-card > li > h3 {
    margin-left: 10px;
    font-weight: normal;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-cards > .page-about-us-info-card > li > p {
    color: gray;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button {
    margin-top: 10px;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a {
    background-color: #1b99fe;
    padding: 15px 25px;
    position: relative;
    color: white;
    z-index: 1;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a::before,
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    transition: height .4s ease-in-out, width .4s ease-in-out;
    background-color: #06268b;
    z-index: -1;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a::before {
    top: 0;
    left: 0;
    transform-origin: top left;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a:hover::before,
.page-about-us-section > .page-about-image-and-info > .page-about-us-info > .page-about-us-info-button > a:hover::after {
    height: 100%;
    width: 100%;
}



/* responsive design for the page about us section of the mobile and tab screens */

@media (min-width: 320px) and (max-width: 500px) {
    .page-about-us-section > .page-about-image-and-info {
        flex-direction: column;
        gap: 20px;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-image {
        width: 100%;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-image > .page-about-us-img {
        height: auto;
        width: 100%;
        min-height: 300px;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-info {
        width: 100%;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-info > h2 {
        font-size: 8vw;
    }
}
@media (min-width: 501px) and (max-width: 750px) {
    .page-about-us-section > .page-about-image-and-info {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-image {
        width: 90%;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-image > .page-about-us-img {
        height: auto;
        width: 100%;
        min-height: 350px;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-info {
        width: 90%;
        align-items: center;
    }
    .page-about-us-section > .page-about-image-and-info > .page-about-us-info > h2 {
        font-size: 7vw;
        text-align: center;
    }
}



/* 
-----------------styling for the page our approach section--------------------
*/
.page-our-approach-section {
    padding: 50px 5vw;
}
.page-our-approach-section > .page-our-approach-info-and-missions {
    display: flex;
    gap: 20px;
    align-items: center;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info > h4 {
    color: #1b99fe;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info > h2 {
    color: #06268b;
    font-size: 3vw;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info > p {
    color: gray;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions {
    width: 70%;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions > .page-our-approach-missions-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions > .page-our-approach-missions-cards > .page-our-approach-missions-card {
    height: 200px;
    background-color: aliceblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions > .page-our-approach-missions-cards > .page-our-approach-missions-card > img {
    height: 70px;
    width: 70px;
}
.page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions > .page-our-approach-missions-cards > .page-our-approach-missions-card > h2 {
    color: #1b99fe;
}


/* responsive design for the page our approach section of mobile and tab screens*/

@media (min-width: 320px) and (max-width: 500px) {
    .page-our-approach-section > .page-our-approach-info-and-missions {
        flex-direction: column;
    }
    .page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info {
        width: 100%;
    }
    .page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info > h2 {
        font-size: 8vw;
    }
    .page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions {
        width: 100%;
    }
}
@media (min-width: 501px) and (max-width: 750px) {
    .page-our-approach-section > .page-our-approach-info-and-missions {
        flex-direction: column;
    }
    .page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info {
        width: 100%;
    }
    .page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-info > h2 {
        font-size: 7vw;
    }
    .page-our-approach-section > .page-our-approach-info-and-missions > .page-our-approach-missions {
        width: 100%;
    }
}



/* 
---------------styling for the our commitment section--------------------
*/

.page-our-commitment-section {
    padding: 50px 5vw;
}
.page-our-commitment-section > .page-our-commitment-image-and-info {
    display: flex;
    gap: 20px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image {
    width: 45%;
    display: flex;
    justify-content: center;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image > .page-our-commitment-img {
    width: 500px;
    height: 650px;
    position: relative;
    border-radius: 20px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image > .page-our-commitment-img::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url(./assets/images/about-us/our-commitment/our-commitment.png);
    background-size: 100% 100%;
    border-radius: 20px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > h4 {
    color: #1b99fe;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > h2 {
    color: #06268b;
    font-size: 3vw;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > P {
    color: gray;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card {
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card > .page-our-commitment-info-card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
} 
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card > .page-our-commitment-info-card-info > h3 {
    color: #06268b;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card > .page-our-commitment-info-card-info > p {
    font-weight: normal;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card:nth-child(1) {
    background-color: aliceblue;
    border-radius: 50px 0px 0px 50px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card:nth-child(2) {
    background-color: #6699CC;
    border-radius: 0px 50px 50px 0px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-cards > .page-our-commitment-info-card > img {
    height: 60px;
    width: 60px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > ul > li {
    display: flex;
    align-items: center;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > ul > li > span {
    color: #1b99fe;
    font-size: 20px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > ul > li > p {
    margin-left: 10px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button {
    margin-top: 10px;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a {
    padding: 15px 20px;
    background-color: #1b99fe;
    color: white;
    z-index: 1;
    position: relative;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a::before,
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    background-color: #06268b;
    z-index: -1;
    transition: height .4s ease-in-out, width .4s ease-in-out;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a::before {
    top: 0;
    left: 0;
    transform-origin: top left;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a:hover::before,
.page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > .page-our-commitment-info-button > a:hover::after {
    height: 100%;
    width: 100%;
}



@media (min-width: 320px) and (max-width: 500px) {
    .page-our-commitment-section > .page-our-commitment-image-and-info {
        flex-direction: column;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image {
        width: 100%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info {
        width: 100%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image > .page-our-commitment-img {
        height: 450px;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > h2 {
        font-size: 8vw;
    }
}
@media (min-width: 501px) and (max-width: 750px) {
    .page-our-commitment-section > .page-our-commitment-image-and-info {
        flex-direction: column;
        align-items: center;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image {
        width: 80%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info {
        width: 80%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image > .page-our-commitment-img {
        height: 85vw;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > h2 {
        font-size: 7vw;
    }
}
@media (min-width: 751px) and (max-width: 900px) {
    .page-our-commitment-section > .page-our-commitment-image-and-info {
        flex-direction: column;
        align-items: center;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image {
        width: 70%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info {
        width: 70%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image > .page-our-commitment-img {
        height: 85vw;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info > h2 {
        font-size: 6vw;
    }
}
@media (min-width: 901px) and (max-width: 100px) {
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-image {
        width: 50%;
    }
    .page-our-commitment-section > .page-our-commitment-image-and-info > .page-our-commitment-info {
        width: 50%;
    }
}


/* 
---------------styling for the page our feature section---------------------
*/

.page-our-feature-section {
    padding: 50px 5vw;
}
.page-our-feature-section > .page-our-feature {
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 20px;
    z-index: 4;
    inset: 0;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    justify-content: space-between;
}
.page-our-feature-section > .page-our-feature > * {
    z-index: 4;
}
.page-our-feature-section > .page-our-feature::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/images/about-us/our-feature/background.png);
    background-size: 100% 100%;
    border-radius: 50px;
    z-index: 0;
}
.page-our-feature-section > .page-our-feature::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 50px;
    background-color: black;
    opacity: .7;
}
.page-our-feature-section > .page-our-feature > h3 {
    text-align: center;
    color: #1b99fe;
}
.page-our-feature-section > .page-our-feature > h2 {
    font-size: 3vw;
    text-align: center;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-cards > .page-our-feature-card {
    height: 220px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-cards > .page-our-feature-card > h3 {
    color: #1b99fe;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-cards > .page-our-feature-card > img {
    height: 60px;
    width: 60px;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-insights > .page-our-feature-insight {
    height: 150px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page-our-feature-section > .page-our-feature > .page-our-feature-insights > .page-our-feature-insight > h2 {
    font-size: 48px;
}



/* responsive design for the page our feature section of mobile and tab screens */

@media (min-width: 320px) and (max-width: 500px) {
    .page-our-feature-section > .page-our-feature {
        padding: 20px 10px;
    }
    .page-our-feature-section > .page-our-feature > h2 {
        font-size: 8vw;
    }
}
@media (min-width: 501px) and (max-width: 700px) {
    .page-our-feature-section > .page-our-feature > h2 {
        font-size: 6vw;
    }
}