/* import link for the philosopher font from google font */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* 
--------------styling for the page contact us title-----------------
*/

.page-title-section > .page-title {
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}
.page-title-section > .page-title > * {
    z-index: 4;
    color: white;
    
}
.page-title-section > .page-title > h2 {
    font-size: 3vw;
}
.page-title-section > .page-title > .page-title-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
.page-title-section > .page-title > .page-title-nav > a {
    color: white;
}
.page-title-section > .page-title::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url(./assets/images/contact-us/title-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page-title-section > .page-title::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(7, 20, 59, .45);
} 

/* responsive design for the page title section of the mobile and tab screens */

@media (min-width: 320px) and (max-width: 500px) {
    .page-title-section > .page-title {
        height: 300px;
    }
    .page-title-section > .page-title > h2 {
        font-size: 8vw;
    }
}
@media (min-width: 501px) and (max-width: 700px) {
    .page-title-section > .page-title {
        height: 300px;
    }
    .page-title-section > .page-title > h2 {
        font-size: 6vw;
    }
}
@media (min-width: 701px) and (max-width: 900px) {
    .page-title-section > .page-title > h2 {
        font-size: 5vw;
    }
}




/* 
-----------------styling for the page contact form section-----------------
*/

.page-contact-form-section {
    padding: 50px 5vw;
}
.page-contact-form-section > .contactImage-and-contactForm {
    display: flex;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img {
    height: 600px;
    width: 450px;
    position: relative;
    z-index: 0;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img > * {
    position: relative; 
    z-index: 3;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/images/contact-us/contact-form.jpg);
    background-size: 100% 100%;
    z-index: 0;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img > .open-timings {
    height: 120px;
    width: 100%;
    background-color: #06268b;
    z-index: 4;
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img > .open-timings > .open-timings-icon {
    color: #1b99fe;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img > .open-timings > .open-timings-icon > span > i {
    font-size: 38px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img > .open-timings > .open-timings-info {
    color: #1b99fe;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img > .open-timings > .open-timings-info > P {
    color: white;
    margin-top: 15px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-image-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 3;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-image-circle::before {
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    border: 3px dotted #06268b;
    border-radius: 50%;
    animation-name: contactFormImageCircle;
    animation-duration: 25s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes contactFormImageCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-image-circle > a {
    color: #f6f8ff;
    background-color: #1b99fe;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form {
    width: 45%;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title > h4 {
    color: #1b99fe;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title > h2 {
    color: #06268b;
    font-size: 3vw;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title > p {
    color: gray;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons > .form-icon > .icon {
    height: 70px;
    width: 70px;
    background-color: #06268b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons > .form-icon {
    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons > .form-icon:hover {
    transform: translateY(-5px);
    transition: transform .5s ease-in-out;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons > .form-icon > .icon > h2 {
    color: #1b99fe;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons > .form-icon > .icon-info > h4 {
    color: #1b99fe;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-icons > .form-icon > .icon-info > p {
    color: #06268b;
    margin-top: 10px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-name-and-email {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-name-and-email > input {
    border: none;
    outline: none;
    height: 50px;
    background-color: #f6f8ff;
    padding: 20px;
    border-radius: 5px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-name-and-email > input::placeholder {
    color: #000;
    font-weight: bold;
    font-family: "Philosopher", sans-serif;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-phone-and-subject {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-phone-and-subject > input {
    border: none;
    outline: none;
    height: 50px;
    background-color: #f6f8ff;
    padding: 20px;
    border-radius: 5px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-phone-and-subject > input::placeholder {
    color: #000;
    font-weight: bold;
    font-family: "Philosopher", sans-serif;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-textarea-message > textarea {
    background-color: #f6f8ff;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    padding: 20px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-textarea-message > textarea::placeholder {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Philosopher", sans-serif;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a {
    color: white;
    background-color: #1b99fe;
    padding: 12px 30px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a::before,
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a::after {
    content: '';
    height: 0;
    width: 0;
    z-index: -1;
    background-color: #06268b;
    position: absolute;
    transition: height .4s ease-in-out, width .4s ease-in-out;
    border-radius: 5px;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a::before {
    top: 0;
    left: 0;
    transform-origin: top left;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a:hover::before,
.page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-inputs > .input-submit-button > a:hover:after {
    height: 100%;
    width: 100%;
}



@media (min-width: 320px) and (max-width: 500px) {
    .page-contact-form-section > .contactImage-and-contactForm {
        flex-direction: column;
        gap: 30px;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image {
        width: 100%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-image-circle {
        top: 32%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-img {
        width: 100%;
        height: 500px;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-form {
        width: 100%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title > h2 {
        font-size: 8vw;
    }
}
@media (min-width: 501px) and (max-width: 700px) {
    .page-contact-form-section > .contactImage-and-contactForm {
        flex-direction: column;
        gap: 30px;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image {
        width: 100%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-image-circle {
        top: 32%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-form {
        width: 100%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title > h2 {
        font-size: 6vw;
    }
}
@media (min-width: 701px) and (max-width: 1100px) {
    .page-contact-form-section > .contactImage-and-contactForm {
        gap: 20px;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image {
        width: 50%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-image > .contact-form-image-circle {
        top: 20%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-form {
        width: 50%;
    }
    .page-contact-form-section > .contactImage-and-contactForm > .contact-form-form > .form > .form-title > h2 {
        font-size: 4vw;
    }
}



/* 
-----------------styling for the page contact us google map section------------------
*/

.page-contactus-map-section {
    padding: 50px 5vw;
}
.page-contactus-map-section > .page-contactus-map > iframe {
    height: 400px;
    width: 100%;
    border-radius: 20px;
}