/* import link for the philosopher font from google font */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*
------------------styling for the topbar--------------- 
*/

.topbar {
    padding: 0 5vw;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #06268b;
    justify-content: space-between;
}

.topbar>.topbar-mail-address {
    display: flex;
    gap: 20px;
}

.topbar>.topbar-mail-address>a {
    color: white;
    font-size: 14px;
}

.topbar>.topbar-social-media {
    display: flex;
    gap: 15px;
}

.topbar>.topbar-social-media>a {
    color: white;
    font-size: 14px;
}

/* responsive design for the topbar of the mobile and tab screens */
@media (min-width: 320px) and (max-width: 740px) {
    .topbar {
        display: none;
    }
}


/*
-----------------styling for the navbar-----------------  
*/

.navbar {
    padding: 0 5vw;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.navbar>.navbar-logo>img {
    height: 80px;
    width: 80px;
}

.navbar>.navbar-menu-items>ul {
    display: flex;
    gap: 20px;
}

.navbar>.navbar-menu-items>ul>li>a {
    color: #06268b;
}

.navbar>.navbar-button>a {
    color: white;
    background-color: #1b99fe;
    padding: 15px 30px;
    position: relative;
    z-index: 1;
    transition: color .5s ease-out;
}

.navbar>.navbar-button>a::before,
.navbar>.navbar-button>a::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 0;
    width: 0;
    background-color: #06268b;
    transition: height .5s ease-out, width .5s ease-out;
}

.navbar>.navbar-button>a::before {
    top: 0;
    left: 0;
    transform-origin: top left;
}

.navbar>.navbar-button>a::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.navbar>.navbar-button>a:hover::before,
.navbar>.navbar-button>a:hover::after {
    width: 100%;
    height: 100%;
}



/*
----------------styling for the hero carousel container---------------- 
*/

.hero-carousel {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-carousel>.hero-carousel-wrapper {
    display: flex;
    height: 100%;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    left: 0;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>small {
    background-color: #06268b;
    padding: 5px 10px;
    font-size: 16px;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>h1 {
    font-size: 7vw;
    font-weight: 400;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>p {
    line-height: 28px;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>a {
    color: white;
    background-color: #1b99fe;
    padding: 12px 30px;
    margin-top: 10px;
    transition: color .5s ease;
    transition: background-color .5s linear, color .5s linear;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>a:hover {
    background-color: white;
    color: #06268b;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    inset: 0;
    background-color: black;
    opacity: .5;
}

.hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.hero-carousel-thumbnail {
    height: 100px;
}

.hero-carousel-thumbnail>.hero-carousel-thumbnail-wrapper>.hero-thumbnail-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.hero-carousel-thumbnail>.hero-carousel-thumbnail-wrapper>.swiper-slide-thumb-active {
    opacity: 1;
}

.hero-carousel-thumbnail>.hero-carousel-thumbnail-wrapper>.hero-thumbnail-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* responsive design for the hero carousel of the mobile and tab screens */

@media (min-width: 320px) and (max-width: 500px) {
    .hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div {
        width: 90%;
        gap: 5px;
    }

    .hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>p {
        line-height: 20px;
    }

    .hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>p>.hero-carousel-slide-break {
        display: none;
    }

    .hero-carousel>.hero-carousel-wrapper>.hero-carousel-slide>.hero-carousel-slide-info>div>a {
        padding: 6px 20px;
    }

    .hero-carousel>.swiper-button-next,
    .hero-carousel>.swiper-button-prev {
        pointer-events: none;
        display: none;
    }
}


/*
----------------styling for the where do we need attention------------------  
*/

.where-do-we-need-ation {
    padding: 50px 5vw;
}

.where-do-we-need-ation>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
}

.where-do-we-need-ation>div>h4 {
    color: #1b99fe;
}

.where-do-we-need-ation>div>h1 {
    color: #06268b;
    font-size: 3vw;
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card {
    height: 120px;
    width: 260px;
    background-color: #f6f8ff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img {
    height: 80px;
    width: 80px;
    background-color: cadetblue;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: center;
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-title>h3 {
    color: #06268b;
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-title>h3>span>i {
    margin-left: 5px;
    font-size: 20px;
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card:hover .arrow>i {
    transform: rotateZ(320deg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img1 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/neck-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img2 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/shoulder-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img3 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/hip-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img4 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/knee-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img5 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/elbow-pain.png);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img6 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/tricep-pain.png);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img7 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/hand-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img8 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/foot-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img9 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/ankle-pain.jpg);
}

.where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card>.where-do-we-need-ation-card-img10 {
    background-image: url(./assets/images/index-whr-do-we-need-ation/back-pain.png);
}



/* responsive design for the where do we need attention of mobile and tab screens */

@media (min-width: 320px) and (max-width: 600px) {
    .where-do-we-need-ation>div>h1 {
        font-size: 8vw;
    }

    .where-do-we-need-ation>div>.where-do-we-need-ation-cards>.where-do-we-need-ation-card {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .where-do-we-need-ation>div>h1 {
        font-size: 6vw;
    }
}





/* 
------------------styling for the about section-------------------
*/

.about-section {
    padding: 50px 5vw;
    overflow: hidden;
}

.about-section>div {
    height: auto;
    width: 100%;
    background: linear-gradient(white 0% 15%, #f6f8ff 15% 100%);
    position: relative;
}

.about-section>div>.workDone-and-happyCustomers-cards {
    display: flex;
    gap: 10px;
}

.about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card {
    height: 220px;
    width: 220px;
    background-color: #06268b;
    color: white;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card>h4 {
    color: #1b99fe;
}

.about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card>h1 {
    font-size: 52px;
}

.about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card>span {
    color: #1b99fe;
    font-size: 20px;
}

.about-section>div>.about-section-outer-circle1 {
    position: absolute;
    border-radius: 50%;
    top: 5%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section>div>.about-section-outer-circle1::before {
    content: "";
    position: absolute;
    height: 320px;
    width: 320px;
    border-radius: 50%;
    border: 5px dotted #06268b;
    animation-name: rotateOuterCircle1;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes rotateOuterCircle1 {
    0% {
        transform: rotate(0%);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about-section>div>.about-section-outer-circle1>.about-section-inside-circle-img1 {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background-image: url(./assets/images/index-about-section/first-img.jpg);
    background-size: 100% 100%;
}

.about-section>div>.about-us {
    display: flex;
    justify-content: center;
}

.about-section>div>.about-us>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    padding: 50px;
}

.about-section>div>.about-us>div .about-us-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section>div>.about-us>div>.about-us-title>h4 {
    text-align: center;
    color: #1b99fe;
}

.about-section>div>.about-us>div>.about-us-title>h1 {
    text-align: center;
    font-size: 3vw;
    color: #06268b;
}

.about-section>div>.about-us>div>.about-us-title>p {
    font-size: large;
    text-align: center;
}

.about-section>div>.about-us>div>.about-us-cards>ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about-section>div>.about-us>div>.about-us-cards>ul>li {
    height: 200px;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.about-section>div>.about-us>div>.about-us-cards>ul>li>h2 {
    color: #06268b;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-section>div>.about-us>div>.about-us-cards>ul>li>h2>span {
    width: 50px;
    height: 3px;
    background-color: #1b99fe;
    display: inline-block;
    border-radius: 2px;
    display: none;
}

.about-section>div>.about-us>div>.about-us-cards>ul>li:hover span {
    display: block;
}

.about-section>div>.about-us>div>.about-us-cards>ul>li>p {
    color: gray;
}

.about-section>div>.about-us>div>.about-us-cards>ul>li:nth-child(1) {
    border-right: 1px solid gray;
}

.about-section>div>.about-us>div>.about-us-sign {
    display: flex;
    justify-content: center;
}

.about-section>div>.about-us>div>.about-us-sign>div {
    height: 100px;
    width: 200px;
    background-image: url(./assets/images/index-about-section/signature.png);
    background-size: 100% 100%;
}

.about-section>div>.about-section-outer-circle2 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section>div>.about-section-outer-circle2::before {
    content: '';
    border-radius: 50%;
    position: absolute;
    height: 320px;
    width: 320px;
    border: 5px dotted #06268b;
    animation-name: rotateOuterCircle2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes rotateOuterCircle2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about-section>div>.about-section-outer-circle2>.about-section-inside-circle-img2 {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background-image: url(./assets/images/index-about-section/image.png);
    background-size: 100% 100%;
}


@media (min-width: 320px) and (max-width: 500px) {
    .about-section>div>.workDone-and-happyCustomers-cards {
        flex-direction: column;
    }

    .about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card {
        height: auto;
        width: 120px;
    }

    .about-section>div>.about-section-outer-circle1 {
        position: absolute;
    }

    .about-section>div>.about-section-outer-circle1::before {
        height: 50vw;
        width: 50vw;
    }

    .about-section>div>.about-section-outer-circle1>.about-section-inside-circle-img1 {
        height: 45vw;
        width: 45vw;
        border-radius: 50%;
        background-image: url(./assets/images/index-about-section/first-img.jpg);
        background-size: 100% 100%;
    }

    .about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card {
        padding: 10px;
    }

    .about-section>div>.workDone-and-happyCustomers-cards>.workDone-and-happyCustomers-card>h1 {
        font-size: 22px;
    }

    .about-section>div>.about-us>div {
        width: 100%;
        padding: 50px 10px;
    }

    .about-section>div>.about-us>div>.about-us-title>h1 {
        font-size: 8vw;
    }

    .about-section>div>.about-us>div>.about-us-title>p {
        font-size: medium;
    }

    .about-section>div>.about-us>div>.about-us-cards>ul {
        flex-direction: column;
    }

    .about-section>div>.about-us>div>.about-us-cards>ul>li:nth-child(1) {
        border-bottom: 1px solid gray;
        border-right: none;
    }

    .about-section>div>.about-section-outer-circle2::before {
        height: 50vw;
        width: 50vw;
    }

    .about-section>div>.about-section-outer-circle2>.about-section-inside-circle-img2 {
        height: 45vw;
        width: 45vw;
    }

    .about-section>div>.about-section-outer-circle2 {
        position: static;
    }
}


/* 
---------------styling for the marquee text-------------------
*/
.marquee-text {
    width: 100%;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
}

.marquee-content {
    display: flex;
    width: fit-content;
    animation: marqueeLoop 30s linear infinite;
}

.marquee-content h1 {
    white-space: nowrap;
    font-size: 48px;
    color: #1b99fe;
    opacity: 0.5;
    display: inline-block;
    margin-right: 50px;
}

@keyframes marqueeLoop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}



/*
-----------------styling for the services we think differently----------------
*/

.services-we-think-difrnt {
    padding: 50px 5vw;
    display: flex;
}

.services-we-think-difrnt>.services-we-think-difrnt-info {
    width: 25%;
    height: 500px;
    background-color: white;
    color: #06268b;
    padding: 20px 55px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.services-we-think-difrnt>.services-we-think-difrnt-info>h4 {
    color: #1b99fe;
}

.services-we-think-difrnt>.services-we-think-difrnt-info>h1 {
    font-size: 3vw;
}

.services-we-think-difrnt>.services-we-think-difrnt-info>p {
    color: gray;
    font-size: large;
}

.services-we-think-difrnt>.services-we-think-difrnt-info>.services-we-think-difrnt-cards-nav {
    display: flex;
    gap: 50px;
}

.services-we-think-difrnt>.services-we-think-difrnt-info>.services-we-think-difrnt-cards-nav>.services-we-think-difrnt-card-prev,
.services-we-think-difrnt>.services-we-think-difrnt-info>.services-we-think-difrnt-cards-nav>.services-we-think-difrnt-card-next {
    font-size: 42px;
    color: #1b99fe;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards {
    width: 75%;
    height: 500px;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 0;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card {
    height: 400px;
    width: 300px;
    background-color: cadetblue;
    position: relative;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: 100% 100%;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: black;
    opacity: .5;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card>.services-we-think-difrnt-card-content {
    position: absolute;
    z-index: 5;
    inset: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card>.services-we-think-difrnt-card-content>.content-title>h4 {
    color: #1b99fe;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card>.services-we-think-difrnt-card-content>.content-img>img {
    height: 70px;
    width: 70px;
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card1::before {
    background-image: url(./assets/images/index-services-we-think-differ/card1.jpg);
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card2::before {
    background-image: url(./assets/images/index-services-we-think-differ/card2.jpg);
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card3::before {
    background-image: url(./assets/images/index-services-we-think-differ/card3.jpg);
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card4::before {
    background-image: url(./assets/images/index-services-we-think-differ/card4.jpg);
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card5::before {
    background-image: url(./assets/images/index-services-we-think-differ/card5.jpg);
}

.services-we-think-difrnt>.services-we-think-difrnt-cards>.services-we-think-difrnt-card-wrapper>.services-we-think-difrnt-card6::before {
    background-image: url(./assets/images/index-services-we-think-differ/card6.jpg);
}



/* 
-----------------styling for the why choose us section-------------------
*/

.whyChooseUs-section {
    padding: 50px 5vw;
}

.whyChooseUs-section>.why-choose-us {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>h4 {
    color: #1b99fe;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>h1 {
    color: #06268b;
    font-size: 3vw;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>p {
    color: gray;
    font-size: large;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon {
    display: flex;
    gap: 20px;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon:hover .whyChooseUs-info-icon-circle {
    background-color: #06268b;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon:hover {
    transform: translateY(-5px);
    transition: transform .5s ease-in-out;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon>.whyChooseUs-info-icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f8ff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #1b99fe;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon>.whyChooseUs-info-icon-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100px;
    width: 100%;
    max-width: 400px;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon>.whyChooseUs-info-icon-title>h3 {
    font-weight: 700;
}

.whyChooseUs-section>.why-choose-us>.whyChooseUs-info>.whyChooseUs-info-icons>.whyChooseUs-info-icon>.whyChooseUs-info-icon-title>p {
    color: gray;
    font-size: large;
}
#whyChooseUs-comparison {
    width: 50%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: auto;
}
.juxtapose .jx-knightlab,
.juxtapose .juxtapose-credit,
.juxtapose .juxtapose-label {
    display: none !important;
}




/* 
------------------styling for the stories for patients------------------
*/

.stories-for-patient {
    padding: 50px 5vw;
}
.stories-for-patient > .patient-stories {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 50px;
}
.stories-for-patient > .patient-stories > .stories-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.stories-for-patient > .patient-stories > .stories-title h4 {
    color: #1b99fe;
}
.stories-for-patient > .patient-stories > .stories-title h1 {
    color: #06268b;
    font-size: 3vw;
}
.stories-for-patient > .patient-stories > .stories-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card {
    height: 200px;
    width: 300px;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card:hover::before {
    transform: scale(1);
    transition: all .5s ease;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background-size: 100% 100%;
    transform: scale(1.05);
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card:hover  .stories-card-title {
    transform: translateX(0%);
    opacity: 1;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card > .stories-card-title {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: fit-content;
    height: fit-content;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 5px;
    transform: translateX(-200px);
    opacity: 0;
    transition: transform .5s linear, opacity .5s linear;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card > .stories-card-title h4 {
    color: #1b99fe;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card > .stories-card-title h2 {
    color: #06268b;
    margin-top: 5px;
}
.stories-for-patient > .patient-stories > .stories-cards > .stories-card1::before {
    background-image: url(./assets/images/index-stories-for-patient/card1.jpg);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card2::before {
    background-image: url(./assets/images/index-stories-for-patient/card2.png);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card3::before {
    background-image: url(./assets/images/index-stories-for-patient/card3.jpg);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card4::before {
    background-image: url(./assets/images/index-stories-for-patient/card4.jpg);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card5::before {
    background-image: url(./assets/images/index-stories-for-patient/card5.jpg);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card6::before {
    background-image: url(./assets/images/index-stories-for-patient/card6.jpg);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card7::before {
    background-image: url(./assets/images/index-stories-for-patient/card7.jpg);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card8::before {
    background-image: url(./assets/images/index-stories-for-patient/card8.png);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card9::before {
    background-image: url(./assets/images/index-stories-for-patient/card9.png);
} 
.stories-for-patient > .patient-stories > .stories-cards > .stories-card10::before {
    background-image: url(./assets/images/index-stories-for-patient/card10.jpg);
} 






/*
----------------styling for the what is therapy process---------------
*/

.therapy-process-section {
    padding: 50px 5vw;
}
.therapy-process-section > .therapy-process {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.therapy-process-section > .therapy-process > .therapy-process-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.therapy-process-section > .therapy-process > .therapy-process-title > .therapy-process-title-title > h1 {
    color: #06268b;
    font-size: 3vw;
}
.therapy-process-section > .therapy-process > .therapy-process-title > .therapy-process-title-title > p {
    color: gray;
    font-size: large;
    margin-top: 20px;
}
.therapy-process-section > .therapy-process > .therapy-process-title > .therapy-process-title-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.therapy-process-section > .therapy-process > .therapy-process-title > .therapy-process-title-button::before {
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    border: 3px dotted #06268b;
    border-radius: 50%;
    animation-name: therapyProcessTitleButton;
    animation-duration: 25s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes therapyProcessTitleButton {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.therapy-process-section > .therapy-process > .therapy-process-title > .therapy-process-title-button > a {
    color: #f6f8ff;
    background-color: #1b99fe;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.therapy-process-section > .therapy-process > .therapy-process-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step {
    height: 500px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    gap: 50px;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step2,
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step4 {
    display: flex;
    flex-direction: column-reverse;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image::before {
    content: '';
    position: absolute;
    z-index: 0;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px dotted #1b99fe;
    animation-name: therapyProcessStepCircle;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    opacity: 0;
}
@keyframes therapyProcessStepCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step:hover .therapy-process-step-image::before {
    opacity: 1;
    transition: opacity .5s linear;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image > .therapy-process-step-img {
    height: 230px;
    width: 230px;
    background-color: #1b99fe;
    border-radius: 50%;
    background-size: 100% 100%;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image > .therapy-process-step-img1 {
    background-image: url(./assets/images/index-therapy-process/step1.jpg);
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image > .therapy-process-step-img2 {
    background-image: url(./assets/images/index-therapy-process/step2.jpg);
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image > .therapy-process-step-img3 {
    background-image: url(./assets/images/index-therapy-process/step3.jpg);
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-image > .therapy-process-step-img4 {
    background-image: url(./assets/images/index-therapy-process/step4.jpg);
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-info > h2 {
    color: #06268b;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-info > p {
    color: gray;
}
.therapy-process-section > .therapy-process > .therapy-process-steps > .therapy-process-step > .therapy-process-step-info > h3 {
    color: #1b99fe;
}


